* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    background-color: black;
    text-decoration: none;
    padding: 1px;
    margin-bottom: 15px;

}

ul li {
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    margin: 15px;
    color: white;

}

h1 {
    font-size: 40px;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.cadastro {
    font-size: 25px;
    display: flex;
    justify-content: center;
}


footer {
    background: black;
    width: 100%;
    font-size: 20px;
    margin: 0;
    bottom: 0;
    position: fixed;
    text-align: center;

    
}

.footp {
    text-align: center;
    color: white;
    height: 100%;
}
